<!-- Launch file for ROSBuzz -->

<launch>
		<node name="SLAM_node" pkg="ORB_SLAM2" type="Mono" respawn="false" output="screen" args="/home/vivek/ROS_WS/src/ardrone_testbed-master/ORB_SLAM2/Vocabulary/ORBvoc.txt /home/vivek/ROS_WS/src/ardrone_testbed-master/ORB_SLAM2/Examples/Monocular/KITTI00-02.yaml">	
		</node>
		
		<node name="camera_bridge" pkg="image_transport_tutorial" type="my_publisher" respawn="false" output="screen">	
		</node>		
</launch>
